#contato
{
   width: 100%;
   height: 1181px;
   background: #F7F7F7;
   
}

.texto-contato
{
    display: block;
    padding-left: 50px;
   
}
.titulo-contato
{
    padding-top: 140px;
    margin-bottom: 20px;
   width: 202px;
   height: 52px;
   font-family: Poppins;
   font-size: 48px;
   font-weight: 700;
   line-height: 52px;
   text-align: left;
   color: #333333;
}

.contato-itens
{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.mapa
{
    width: 510px;
    height: 930px;
    border-radius: 5px 0px 0px 5px;
    background: #121212;

}

.itens-mapa
{
    padding: 40px;

}

.itens-mapa h2
{
   width: 186px;
   height: 32px;
   font-family: Lato;
   font-size: 24px;
   font-weight: 600;
   line-height: 32px;
   letter-spacing: 0.015em;
   text-align: left;
   color: #F2F2F2;
   margin-bottom: 20px;

}

.itens-mapa h3
{
    width: 195px;
    height: 24px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #C4C4C4;
    margin-top: 50px;
    margin-bottom: 10px;
   
}

.entre-em-contato
{
    width: 430px;
    height: 224px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #C4C4C4;
}

.localizacao
{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.icone-localizacao
{
    width: 20px;
    height: 20px;
    padding: 1.67px 3.33px 1.94px 3.33px;
}

.endereco
{
    width: 382px;
    height: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #666666;
    display: flex;
    margin-left: 1px;

}

.icone-mapa
{
    width: 430px;
    height: 430px;
    border-radius: 5px;
}

/*inicio do formulario*/

.formulario
{
    width: 1280px;
    height: 930px;
    border-radius: 0px 5px 5px 0px;
    background: #F2F2F2;

}

.itens-formulario
{
    margin: 50px;
    margin-left: 25px;
}

.preencher
{
    width: 153px;
    height: 24px;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.traco-laranja3
{
    width: 20px;
    height: 10px;
    border-radius: 1px 0px 0px 0px;  
    color: #333333;;
    border-right: 4px solid #FF5733; 
    margin-top: 3px;
}

.preencher h4
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    display: flex;
    text-wrap: nowrap;
    margin-left: 10px;
}

.formulario-blocos
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     
}

.formulario-bloco-principal
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333;

}

.formulario-bloco1
{
    width: 50px;
    height: 24px;
    text-wrap: nowrap;
}
.nome 
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
}

.nome-responsivo
{
    display: none;
}

.telefone-responsivo
{
    display: none;
}

.email-responsivo
{
    display: none;
}
.mensagem-responsiva
{
    display: none;
}

.formulario-nome
{
    width: 315px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;  
}

.formulario-nome-responsivo
{
    display: none;
}

.formulario-telefone-responsivo
{
    display: none;
}
.formulario-email-responsivo
{
    display: none;
}
.formulario-mensagem-responsiva
{
    display: none;
}
.sobrenome 
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
}
.formulario-sobrenome
{
    width: 315px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;
    
}
.email
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
}
.formulario-email
{
    width: 315px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;
}
.telefone 
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
}

.formulario-telefone
{
    width: 315px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;
}

.formulario-bloco2
{
    width: 50px;
    height: 24px;
    padding-bottom: 70px;
    padding-right: 250px;
    
}

.bloco-mensagem
{
    width: 690px;
}

.mensagem 
{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
}

.formulario-mensagem
{
    width: 706px;
    height: 200px;
    border-radius: 5px;
    border:1px solid  #F7F7F7;
    padding-left: 5px;
    padding-top: 10px;
    
}

.formulario-mensagem input
{
    border: 3px solid red;
}

.formulario-checkin
{
    width: 50px;
    height: 24px;
    top: 3387px;
    text-wrap: nowrap;
    color: #333333;
    margin-top: 10px;
}
.formulario-checkin p
{
   display: inline;
   margin-left: 5px;
}

.botao-enviar
{
    width: 296px;
    height: 56px;

}

.botao-enviar2
{
   font-family: Lato;
   font-size: 24px;
   font-weight: 700;
   line-height: 24px;
   text-align: left;
   text-transform: uppercase;
   padding: 16px 32px 16px 32px;
   gap: 10px;
   border-radius: 5px;
   background: #FF5733;
   border: 1px solid #FF5733;
   margin-top: 30px;
   cursor: pointer;
}
.titulo-responsivo
{
    display: none;
}
.localizacao-responsiva
{
    display: none;
}
.icone-localizacao-responsiva
{
    display: none;
}
.endereco-responsivo
{
    display: none;
}
.icone-mapa-responsivo
{
    display: none;
}
@media screen and (max-width:459px)
{
    #contato
  {
   width: 100%;
   height: 1355px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   overflow: hidden;
   flex-direction: column;
  }

  .texto-contato
  {
      display: flex;
      width: 90%;
      max-width: 90%;
      justify-content: left;
      align-items: center;
      box-sizing: border-box;
      overflow: hidden;
      padding-left: 0px;
  }
.titulo-contato
{
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 32px;
    width: 85px;
    height: 32px; 
}
.contato-itens
{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
  width: 90%;
  max-width: 90%;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  
}
.mapa
{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}
.itens-mapa
{
    padding: 20px 25px 80px 25px;
}
.itens-mapa h2
{
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.015em;

}
.entre-em-contato
{
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}
.icone-localizacao
{
    display: none;
}
.endereco
{
    display: none;
}
.icone-mapa 
{
    width: 0px;
    height: 0px;
    border-radius: 0px;
}

.itens-mapa h3
{
    display: none;
}

.formulario
{
    
    padding-bottom: 200px;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid green;
}
.preencher 
{
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: left;
    align-items: lefts;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.015em;
    margin-bottom: 5px;
    margin-left: -20px;
}
.formulario-bloco-principal
{
    display: flex;
    flex-direction: column;
    width: 110%;
    height: auto;
    max-width: 110%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 0px;
    border: 1px solid blue;
}
.formulario-bloco-principal h3
{
  height: 16px;
  padding-bottom: 15px;
}
.formulario-bloco1
{
    display: flex;
   
    flex-direction: column;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: left;
    justify-content:flex-start;
    height: 200px;
    width: 100%;
}
.formulario-bloco2
{
   display: none;
}


.nome, .sobrenome
{
    display: none;
}
.formulario-nome
{
    width: 250px;
    height: 24px;
    padding-bottom: 10px;
    display: none;
}
.formulario-sobrenome
{
    display: none;
}
.email
{
    font-size: 12px;
    margin-top: -140px;
    display: none;
}
.formulario-email
{
    width: 250px;
    height: 24px;
    padding-bottom: 10px;
    display: none;
}
.telefone 
{
    margin-top: -530px;
    font-size: 12px;
    border: 1px solid green;
    display: none;
    
}
.formulario-telefone
{
    width: 250px;
    height: 34px;
    border: 1px solid pink;
    display: none;
}
.nome-responsivo
{
    display: block;
    font-size: 12px;
}
.formulario-nome-responsivo
{
    height: auto;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 97%;
}

.telefone-responsivo
{
    display: block;
    font-size: 12px;
    margin-top: 20px;
}
.formulario-telefone-responsivo
{
    height: auto;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 97%;
}
.email-responsivo
{
    display: block;
    font-size: 12px;
    margin-top: 20px;
}
.formulario-email-responsivo
{
    height: auto;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 97%;
}
.mensagem-responsiva
{
    display: block;
    font-size: 12px;
    margin-top: 0px;
}
.formulario-mensagem-responsiva
{
    height: auto;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    align-items: center;
    justify-content: center;
    width: 97%;
    
}
.bloco-mensagem
{
    margin-bottom: -100px;
    display: none;
}
.mensagem
{
    margin-top: -180px;
    font-size: 12px;
}
.formulario-mensagem
{
    width: 250px;
    height: 162px;

}
.formulario-checkin input
{
    width: 223px;
    height: 16px;
    margin-left: -100px;
}

.formulario-checkin p
{
    font-family: Poppins;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-align: left;
    display: inline;
    margin-left: -100px;
}
.botao-enviar
{
    width: 148px;
    height: 30px;
    margin-top: -10px;
}
.botao-enviar2 p
{
    margin-left: -5px;
    display: flex;
    font-size: 14px;
    
}
.titulo-responsivo
{
    display: flex;
    margin-top: 90px;
    width: 146px;
    height: 16px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #333333;
    margin-bottom: -10px;
    margin-left: 2px;
}
.localizacao-responsiva
{
    display: flex;
}
.icone-localizacao-responsiva
{
   display: flex;
   margin-left: 0px;
   width: 16px;
   height: 16px;
}
.endereco-responsivo
{
    display: flex;
    width: 244px;
    height: 14px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #333333;
    margin-left: 2px;
    margin-top: 3px;
    text-wrap: nowrap;
    
}
.icone-mapa-responsivo
{
   display: flex;
   width: 288px;
   height: 170px;
   margin-top: 10px;
   margin-left: -14px;
}

}