body
{
    width: 100%;
    overflow-x: hidden;
}

main
{
    padding-top: 20px;
    
}

html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#inicio
{
      
   height: 800px;
   width: 100%;
   background-image: url("../imagens/inicio/banner1.svg");
   background-color: #333333;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   background-repeat: no-repeat;
}



.banner-elementos
{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.caixa-frase
{
   width: 577px;
   height: 400px;
   top: 175px;
   left: 160px;
   display: flex;
}

.frase-inicio
{
   
   font-family: Poppins;
   font-size: 56px;
   font-weight: 700;
   line-height: 80px;
   text-align: left;
   color: #F2F2F2;

}

.underline
{
    text-decoration: underline;
    text-decoration-color: #FF5733;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #F2F2F2;
}


.caixa-grafico
{
  width: 620px;
  height: 456px;
  top: 159px;
  left: 820px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  
}

.grafico
{
   width: 620px;
   height: 456px;
   top: 159px;
   left: 820px;
   gap: 0px;
   opacity: 0px;

}


@media screen and (max-width: 459px)
{
 
main 
{
    padding-top: 30px;
}
#inicio
{
   background-image: none;
   height: 370px;
   width: 100%;
   background-size: cover;
   
}

.banner-elementos
{
    margin-top: 150px;
    flex-direction: column;
    justify-content: flex-start;
    height: 430px;
    background-image: url("../imagens/inicio/banner1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  
}

.caixa-frase
{
    margin-top: 5%;
    width: 325px;
    height: 48px;
    display: flex;
    margin-bottom: 3%;
}

.frase-inicio
{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.underline
{
    text-decoration: underline;
    text-decoration-color: #FF5733;
    font-size: 20px;
    line-height: 32px;
}

.caixa-grafico
{
  width: 400px;
  height: 250px;
   
}

.grafico
{
   width: 390px;
   height: 220px;
   margin-top: 60px;
   
}



}
/*
@media screen and (509px <= width <= 750px)
{
 

#inicio
{
   background-image: none;
   height: 330px;
   width: 100%;
   margin-top: 100px;
   
}

.banner-elementos
{/*
    /*margin-top: 200px;*/
 /*   flex-direction: column;
    justify-content: flex-start;
    height: 430px;
    background-image: url("../imagens/inicio/banner1.svg");
    background-size: 750px;
    background-repeat: no-repeat;
    width: 750px;
}

.caixa-frase
{
    width: 400px;
    height: 48px;
}

.frase-inicio
{
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 10px;
}

.underline
{
    text-decoration: underline;
    text-decoration-color: #FF5733;
    font-size: 28px;
    line-height: 32px;
    
}

.caixa-grafico
{
  height: 300px;
   
}

.grafico
{
   height: 300px;
   margin-top: 75px;
   
}


}*/

@media screen and (460px <= width <= 1024px)
{
 

#inicio
{
   background-image: none;
   height: 390px;
   width: 100%;
   margin-top: 70px;
   
}

.banner-elementos
{
    /*margin-top: 200px;*/
    flex-direction: column;
    justify-content: flex-start;
    height: 430px;
    background-image: url("../imagens/inicio/banner1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.caixa-frase
{
    width: 450px;
    height: 48px;
    margin-top: 3%;
}

.frase-inicio
{
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 10px;
}

.underline
{
    text-decoration: underline;
    text-decoration-color: #FF5733;
    font-size: 30px;
    line-height: 32px;
    
}

.caixa-grafico
{
 
  height: 305px;
   
}

.grafico
{
   
   height: 50%;
   margin-top: 75px;
   
}


}