header
{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    gap: 0px;
    
    /*padding: 0px 160px 0 160px;*/
    position: fixed;

      
}
 

.imagem-navbar
{
    width: 116px;
    height: 50px;
    top: 25px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    padding-left: 160px;

}

header ul
{
    display: flex;
    padding-right: 160px;
}

header a
{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    padding-right: 30px;
    
}

.seta
{
    cursor: pointer;
}







