header
{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 95px;
    position: fixed;  
}
 

.imagem-navbar
{
    width: 116px;
    height: 50px;
    top: 25px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    padding-left: 160px;
}

header ul
{
    display: flex;
    padding-right: 160px;
}

header a
{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    padding-right: 30px;
    
}

.seta
{
    cursor: pointer;
}

@media screen and (max-width: 499px)
{
    header
    {
        height: 60px;   
      
    }

    .imagem-navbar
    {
      
      width: 58px;
      height: 35px;
      padding-left: 40px;
     
     }

     header ul
     {
       
       padding-left: 90px;

     }

     
     header a
    {
       font-size: 12px;
       padding-right: 10px;
          
    }
}

/*
@media screen and (500px <= width <= 614px)
{
    header
    {
        
        height: 80px;   
    
    }

    .imagem-navbar
    {
      
      width: 87px;
      height: 35px;
      padding-left: 40px;
     
     }

     header ul
     {
       
       padding-left: 140px;

     }

     
     header a
    {
       font-size: 14px;
       padding-right: 10px;
          
    }
     
}


@media screen and (615px <= width <= 1000px)
{
   
    .imagem-navbar
    {

      padding-left: 50px;

     }

     header ul
     {

       display: flex;
       padding-left: 150px;
       padding-right: 50px;
       
     }

     
     header a
    {
    
       padding-right: 10px;   
       
    }



}
*/



