* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    color: #333333
}


.servicos {
    background: #121212;
    padding: 80px;
    padding-top: 100px;
}

.servicos h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.textos-servicos {
    display: flex;
    flex-direction: column;
    gap: 32px; 
    margin-bottom: 80px;
}

.textos-servicos p {
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

/* essa parte também é referente ao carrossel, mas preferi deixar aqui pois já tinha organizado a responsividade aqui antes de recomecar o carrossel e fazer ele em outro css */
.card-image {
    position: relative; 
    width: 509px;
    height: 452px;
    border-radius: 5px;
    cursor: pointer;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.card-image h2 {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: Poppins;
    font-size: 2rem;
    line-height: 40px;
    color:#F2F2F2;
    border-radius: 5px; 
    text-align: center; 
    width: 90%; 
}


@media (max-width: 508px) {

    .card-image {
        position: relative; 
        width: 240px;
        height: 271px;
        border-radius: 5px;
        cursor: pointer;
    }
    .card-image h2 {
        position: absolute; 
        bottom: 10px; 
        left: 50%; 
        transform: translateX(-50%); 
        font-family: Poppins;
        font-size: 1.5rem;
        line-height: 40px;
        color:#F2F2F2;
        border-radius: 5px; 
        text-align: center; 
        width: 90%; 
    }

    .servicos {
        padding: 20px;
    }

    .servicos h2 {
        font-size: 1.5rem;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .textos-servicos {
        margin-bottom: 20px;
    }
    
    .textos-servicos p {
        font-size: 0.975rem;
        line-height: 20px;
    }
}