.sobre
{
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    width: 100%;
    
    
    
}

.sobre-texto
{
    
   left: 160px;

}


.sobre h2
{
    color: #333333;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    width: 513px;
    height: 52px;
    top: 755px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    padding-left: 70px;
    


    
}

.sobreparagrafo
{
   padding-top: 50px;
   padding-bottom: 50px;
   font-family: "Lato", sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   text-align: left;
   height: 48px;
   top: 839px;
   left: 160px;
   gap: 0px;
   opacity: 0px;
   padding-left: 70px;
   margin-right: 50px;
  
   

}

.equipe 
{
    display: flex;
    width: 100%;
    max-width: 1430px;
    height: 472px;
    top: 919px;
    left: 85px;
    gap: 0px;
    opacity: 0px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}

.nossa-equipe
{
   width: 173px;
   height: 32px;
   top: 919px;
   left: 160px;
   gap: 0px;
   opacity: 0px;
   font-family: Poppins;
   font-size: 24px;
   font-weight: 600;
   line-height: 32px;
   text-align: left;
   color: #333333;
   display: flex;
   position: relative;
   padding-bottom: 50px;
   top: 0;
   left: -520px;

   

}


.blocos-equipe
{
    background-color: gray;
    width: 94%;
    max-width: 1430px;
    height: 420px;
    top: 971px;
    left: 85px;
    gap: 0px;
    opacity: 0px;

    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
   
    

}

.bloco-equipe1
{
   background-color: #F2F2F2;
   width: 450px;
   height: 420px;
   top: 971px;
   left: 85px;
   gap: 0px;
   opacity: 0px;
   border-right: 50px solid #FFFFFF;
   
   
   
}



.traco-laranja
{

    
    width: 20px;
    height: 10px;
    top: 991px;
    left: 506px;
    border-radius: 1px 0px 0px 0px;
    opacity: 0px;
    color: #FF5733;
    display: flex; 
    margin-top: 20px;
    margin-left: 350px;
    border-right: 4px solid #FF5733;
    
    
}

.info-equipe
{
    
    margin-top: 0px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
       
}

.info-equipe2
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.foto-equipe
{

}

.nome-equipe
{
  width: 182px;
  height: 24px;
  top: 1011px;
  left: 215px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #333333;
  display: flex;
  


}

.funcao-equipe
{
    width: 147px;
    height: 16px;
    top: 1038px;
    left: 215px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #C4C4C4;
    display: flex;
    
    

}

.icone-equipe
{
    width: 24px;
    height: 24px;
    top: 1056px;
    left: 215px;
    padding: 2.7px 3.23px 2.7px 3.23px;
    gap: 0px;
    opacity: 0px;

}
/*
.bloco-espacovazio
{
    padding-left: 85px;
    color: #FFFFFF;
}
*/

.info-equipe3
{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width: 340px;

}

.linha-equipe
{
    width: 340px;
    height: 2px;
    top: 1090px;
    left: 120px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    color: #F0EEEE;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 10px solid #F0EEEE;
}


.texto-equipe
{
    width: 340px;
    height: 224px;
    top: 1104px;
    left: 125px;
    gap: 0px;
    opacity: 0px;
    
}

.texto-equipe p
{
    display: inline;
    font-family: Lato;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #666666;
  
}
 

.bloco-equipe2
{
    background-color: #F2F2F2;
    width: 450px;
    height: 420px;
    top: 971px;
    left: 85px;
    gap: 0px;
    opacity: 0px;
    border-right: 50px solid #FFFFFF;
    
    
    
}

.bloco-equipe3
{
   background-color: #F2F2F2;
   width: 450px;
   height: 420px;
   top: 971px;
   left: 85px;
   gap: 0px;
   opacity: 0px;
   
   
   
}

.nossa-visao
{
   width: 100%;
   max-width: 1280px;
   height: 94px;
   top: 1699px;
   left: 160px;
   gap: 0px;
   opacity: 0px;

}

.visao-titulo
{
    
    height: 32px;
    top: 1699px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 70px;
    text-transform: uppercase;
    
    

}

.bloco-visao
{
    width: 1250px;
    height: 50px;
    top: 1743px;
    left: 160px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #F0EEEE;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

}


.traco-laranja2
{
    width: 20px;
    height: 10px;
    top: 991px;
    left: 506px;
    border-radius: 1px 0px 0px 0px;
    opacity: 0px;
    color: #333333;;
    margin-top: 20px;
    display: flex;
    
    border-right: 4px solid #FF5733;
    
}



.texto-visao
{
    width: 1111px;
    height: 24px;
    top: 1756px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333;
    margin-top: 12px;
    margin-left: 10px;
    height: 10px;
    top: 991px;
    left: 506px;
    border-radius: 1px 0px 0px 0px;
    opacity: 0px;
   
    
    display: flex;    

}

.nossos-valores 
{
    width: 1250px;
    height: 342px;
    top: 1825px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    margin-top: 60px;
    margin-left: 70px;

}

.valores-titulo
{
    width: 219px;
    height: 32px;
    top: 1825px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #333333;

}

.bloco-valores
{
    width: 1250px;
    height: 50px;
    top: 1869px;
    left: 160px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #F0EEEE;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    
}

.frases-valores
{
    width: 1111px;
    height: 24px;
    top: 1756px;
    left: 199px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333;
    margin-top: 12px;
    margin-left: 10px;
    height: 10px;
    top: 991px;
    left: 506px;
    border-radius: 1px 0px 0px 0px;
    opacity: 0px;
   
    
    display: flex; 
}



