#sobre
{
    display: flex;
    padding-top: 110px;
    flex-direction: column;
    width: 100%;
   
}

.sobre-texto
{  
   left: 160px;
}


.sobre-texto h2
{
    color: #333333;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    height: 52px;
    padding-left: 70px; 
    width: 100%;
    max-width: 200px;
    text-wrap: nowrap;
    
}

.sobreparagrafo
{
   padding-top: 50px;
   padding-bottom: 50px;
   font-family: "Lato", sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   text-align: left;
   height: 48px;
   padding-left: 70px;
   margin-right: 50px; 
}
.sobreparagrafo2
{
   padding-top: 50px;
   padding-bottom: 70px;
   font-family: "Lato", sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   text-align: left;
   height: 48px;
   padding-left: 70px;
   margin-right: 50px; 
}
.sobreparagrafo3
{
   padding-bottom: 50px;
   font-family: "Lato", sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   text-align: left;
   height: 48px;
   padding-left: 70px;
   margin-right: 50px; 
}

.equipe 
{
    display: flex;
    width: 100%;
    height: 472px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.nossa-equipe
{
   width: 173px;
   height: 32px;
   font-family: Poppins;
   font-size: 24px;
   font-weight: 600;
   line-height: 32px;
   text-align: left;
   color: #333333;
   display: flex;
   position: relative;
   padding-bottom: 50px;
   left: -520px;
  
}

.blocos-equipe
{
    background-color: gray;
    width: 94%;
    max-width: 1430px;
    height: 420px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.bloco-equipe1
{
   background-color: #F2F2F2;
   width: 450px;
   height: 420px;
   border-right: 50px solid #FFFFFF;     
}

.traco-laranja
{
    width: 20px;
    height: 10px;
    border-radius: 1px 0px 0px 0px;
    color: #FF5733;
    display: flex; 
    margin-top: 20px;
    margin-left: 350px;
    border-right: 4px solid #FF5733;   
}

.info-equipe
{  
    margin-top: 0px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.info-equipe2
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nome-equipe
{
  width: 182px;
  height: 24px;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #333333;
  display: flex;
}

.funcao-equipe
{
    width: 147px;
    height: 16px;
    font-family: Lato;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #C4C4C4;
    display: flex;
}

.icone-equipe
{
    width: 24px;
    height: 24px;
    top: 1056px;
    left: 215px;
    padding: 2.7px 3.23px 2.7px 3.23px; 
}


.info-equipe3
{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    width: 340px;
}

.linha-equipe
{
    width: 340px;
    height: 2px;
    border-radius: 2px 0px 0px 0px; 
    color: #F0EEEE;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 10px solid #F0EEEE;
}


.texto-equipe
{
    width: 340px;
    height: 224px;
}

.texto-equipe p
{
    display: inline;
    font-family: Lato;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #666666;
}
 

.bloco-equipe2
{
    background-color: #F2F2F2;
    width: 450px;
    height: 420px;
    border-right: 50px solid #FFFFFF;    
}

.bloco-equipe3
{
   background-color: #F2F2F2;
   width: 450px;
   height: 420px;   
}

.nossa-visao
{
   height: 94px;
   width: 100%;
}

.visao-titulo
{  
    height: 32px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 70px;
    text-transform: uppercase;
}

.bloco-visao
{
    width: 1400px;
    height: 50px; 
    border-radius: 5px 0px 0px 0px;
    background: #F0EEEE;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.traco-laranja2
{
    width: 20px;
    height: 10px;
    border-radius: 1px 0px 0px 0px;  
    color: #333333;;
    margin-top: 20px;
    display: flex;
    border-right: 4px solid #FF5733; 

}

.texto-visao
{
    width: 1111px;
    height: 24px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333;
    margin-top: 12px;
    margin-left: 10px;
    height: 10px;
    border-radius: 1px 0px 0px 0px; 
    display: flex;   
    
}

.nossos-valores 
{
    height: 342px;
    margin-top: 60px;
    margin-left: 70px;
    width: 100%;
    max-width: 350px;
}

.valores-titulo
{
    width: 219px;
    height: 32px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-align: left;
    color: #333333;
}

.bloco-valores
{
    width: 1400px;
    height: 50px;
    border-radius: 5px 0px 0px 0px;
    background: #F0EEEE;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.frases-valores
{
    width: 1111px;
    height: 24px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #333333;
    margin-top: 12px;
    margin-left: 10px;
    height: 10px;
    border-radius: 1px 0px 0px 0px;
    display: flex;
} 



@media screen and (max-width: 459px) 
{
    #sobre
    {
        padding-top: 25%;
        /*width: cover;*/
        width: 100%;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .sobre-texto
    {  
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       left: 0px;
       padding-left: 0px;
       min-height: 100px;
       width: 80%;
       max-width: 80%;
       align-content: none;
       padding-bottom: 0px;
       padding: 0 10px;
       overflow: hidden;
       margin: 0 auto;
       height: auto;
     /*  margin-bottom: 3%;*/
    }
    .sobre-texto h2
    {
    font-size: 22px;
    line-height: 32px;
    width: 100%;
    height: auto; 
    padding-top: 19px;
    margin-right: 0px;
    padding-left: 0%;
    text-align: left;
    max-width: none;
    margin: 0 auto;
    }

    .sobreparagrafo
    {
        padding-top:10px;
        flex-direction: column;
        font-size: 16px;
        line-height: 16px;
        width: 100%;
        padding-left: 0px;
        padding-bottom: 60px;
        margin-right: 0px; 
        
        
    }
    .sobreparagrafo2
    {
       padding-top: 0px;
        font-size: 16px;
        line-height: 20px;
        padding-left: 50px;
        padding-bottom: 50px;
        display: flex;
        width: 100%;
        max-width:90%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .sobreparagrafo3
    {
       padding-top: 0px;
        font-size: 16px;
        line-height: 20px;
        width: 312px;
        padding-left: 50px;
        padding-bottom: 0px;
        display: flex;
        width: 100%;
        max-width:90%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .equipe
    {
        flex-direction: column;
        margin-bottom: 0px;
        width: 90%;
        align-items: center;
        justify-content: center;
        height: 1120px;
        justify-content:flex-start;
        margin-top: 10px;
        border: 1px solid pink;
        overflow:hidden;
        
    }

    .nossa-equipe
    {
       
       width: 100%;
       height: 0px;
       max-width: 100%;
       font-size: 14px;
      padding-top: 0px;
       left: 15px;
       display: flex;
       position: none;
       overflow: hidden;
    }


    .blocos-equipe
    {
        flex-direction: column;
        margin-top: 0px;
        background-color: #FFFFFF;
        /*width: 30%;*/
        width: 102%;
        max-width: 102%;
        align-content: none;
        padding-top: 15px;
       
        
    }

    .bloco-equipe1
    {  
        margin-top: 580px;
        padding-bottom: 20px;
        align-items: center;
        padding-left: 0px;
        border-right: 0px;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        height: auto;
    }
    .traco-laranja
    {
        width: 90%; /* Ajusta a largura para o container pai */
        max-width: 100%; /* Limita a largura máxima ao container pai */
        margin-left: 0; /* Remove a margem para evitar deslocamento */
        overflow: hidden; /* Oculta o conteúdo que ultrapassa o container */
        justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    }
   
    .linha-equipe
    {
      width: 90%;
      height: 1px;
      max-width: 90%;
      display: flex;
      justify-content: center;    
    }

    .texto-equipe
    {
      width: 100%;
      height: auto;
      max-width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .texto-equipe p
    {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0 12px 0 12px;
    flex-wrap: wrap
    
    }

    .bloco-equipe2
    {
        margin-top: 10px;
        padding-bottom: 20px;
        align-items: left;
        padding-left: 0px;
        border-right: 0px;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        height: auto;
    }
    .bloco-equipe3
    {
        margin-top: 10px;
        padding-bottom: 20px;
        align-items: center;
        padding-left: 0px;
        border-right: 0px;
        width: 100%;
        justify-content: center;
    }
    .info-equipe
    {  
      max-width: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .info-equipe2
    {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      max-width: 60%;
      width: 100%;
      justify-content: center;
      align-items:flex-start;
      overflow: hidden;
      height: auto;
    }
    .info-equipe3
    {
      max-width: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
      overflow: hidden;
    } 


    .foto-equipe
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width:25%;
        overflow: hidden;
        margin-left: -30px;
    }

     
    .nome-equipe
    {
        display: flex;
        max-width: 100%;
        width: 100%;
       align-items: left;
       padding-left: -30px;
        overflow: hidden;
        justify-content: flex-start;
        height: auto;
    }
    .funcao-equipe
    {
        display: flex;
        max-width: 100%;
        width: 100%;
       align-items: left;
        margin-left: 0px;
        overflow: hidden;
        justify-content: flex-start;
        height: auto;
    }
    .icone-equipe
    {
        display: flex;
        max-width: 10%;
        width: 10%;
        align-items: center;
        margin-left: 0px;
        overflow: hidden;
        justify-content: left;
        height: auto;
        
        
    }
    .nossa-visao
    {
        padding-top: 20px;
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: auto;
        flex-direction: column;
       
    }
    .bloco-visao
    {
        width: 90%;
        max-width: 90%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
    }
    .visao-titulo
    {
        width: 90%;
        max-width: 90%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
        padding-left: 10px;
        font-size: 18px;
    }
    .texto-visao
    {
        width: 272px;
        height: 80px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center; 
    }
    .nossos-valores
    {
        padding-top: 20px;
        display: flex;
        width: 90%;
        max-width: 90%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: auto;
        flex-direction: column;
        margin-left: 0px;
        padding-bottom: 40px;
    }
    .valores-titulo 
    {
        width: 90%;
        max-width: 90%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
        padding-right: 20px;
        font-size: 18px;
    }
    .bloco-valores
    {
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
        
    }
    .frases-valores
    {
    width: 272px;
    height: 80px;
    font-size: 14px;
    line-height: 16px;
    justify-content: center;
   
    }

      
}

@media screen and (460px <= width <= 1024px) 
{
    #sobre
    {
        padding-top: 25%;
        /*width: cover;*/
        width: 100%;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .sobre-texto
    {  
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       left: 0px;
       padding-left: 0px;
       min-height: 100px;
       width: 80%;
       max-width: 80%;
       align-content: none;
       padding-bottom: 0px;
       padding: 0 10px;
       overflow: hidden;
       margin: 0 auto;
       height: auto;
     /*  margin-bottom: 3%;*/
    }
    .sobre-texto h2
    {
    font-size: 22px;
    line-height: 32px;
    width: 100%;
    height: auto; 
    padding-top: 19px;
    margin-right: 0px;
    padding-left: 0%;
    text-align: left;
    max-width: none;
    margin: 0 auto;
    }

    .sobreparagrafo
    {
        padding-top:10px;
        flex-direction: column;
        font-size: 16px;
        line-height: 16px;
        width: 100%;
        padding-left: 0px;
        padding-bottom: 60px;
        margin-right: 0px; 
        
        
    }
    .sobreparagrafo2
    {
       padding-top: 0px;
        font-size: 16px;
        line-height: 20px;
        padding-left: 50px;
        padding-bottom: 50px;
        display: flex;
        width: 100%;
        max-width:90%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .sobreparagrafo3
    {
       padding-top: 0px;
        font-size: 16px;
        line-height: 20px;
        width: 312px;
        padding-left: 50px;
        padding-bottom: 0px;
        display: flex;
        width: 100%;
        max-width:90%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .equipe
    {
        flex-direction: column;
        margin-bottom: 0px;
        width: 90%;
        align-items: center;
        justify-content: center;
        height: 1120px;
        justify-content:flex-start;
        margin-top: 10px;
        border: 1px solid pink;
        overflow:hidden;
        
    }

    .nossa-equipe
    {
       
       width: 100%;
       height: 0px;
       max-width: 100%;
       font-size: 14px;
      padding-top: 0px;
       left: 15px;
       display: flex;
       position: none;
       overflow: hidden;
    }


    .blocos-equipe
    {
        flex-direction: column;
        margin-top: 0px;
        background-color: #FFFFFF;
        /*width: 30%;*/
        width: 102%;
        max-width: 102%;
        align-content: none;
        padding-top: 15px;
       
        
    }

    .bloco-equipe1
    {  
        margin-top: 580px;
        padding-bottom: 20px;
        align-items: center;
        padding-left: 0px;
        border-right: 0px;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        height: auto;
    }
    .traco-laranja
    {
        width: 90%; /* Ajusta a largura para o container pai */
        max-width: 100%; /* Limita a largura máxima ao container pai */
        margin-left: 0; /* Remove a margem para evitar deslocamento */
        overflow: hidden; /* Oculta o conteúdo que ultrapassa o container */
        justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    }
   
    .linha-equipe
    {
      width: 90%;
      height: 1px;
      max-width: 90%;
      display: flex;
      justify-content: center;    
    }

    .texto-equipe
    {
      width: 100%;
      height: auto;
      max-width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .texto-equipe p
    {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0 12px 0 12px;
    flex-wrap: wrap
    
    }

    .bloco-equipe2
    {
        margin-top: 10px;
        padding-bottom: 20px;
        align-items: left;
        padding-left: 0px;
        border-right: 0px;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        height: auto;
    }
    .bloco-equipe3
    {
        margin-top: 10px;
        padding-bottom: 20px;
        align-items: center;
        padding-left: 0px;
        border-right: 0px;
        width: 100%;
        justify-content: center;
    }
    .info-equipe
    {  
      max-width: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .info-equipe2
    {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      max-width: 60%;
      width: 100%;
      justify-content: center;
      align-items:flex-start;
      overflow: hidden;
      height: auto;
    }
    .info-equipe3
    {
      max-width: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
      overflow: hidden;
    } 


    .foto-equipe
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width:25%;
        overflow: hidden;
        margin-left: -30px;
    }

     
    .nome-equipe
    {
        display: flex;
        max-width: 100%;
        width: 100%;
       align-items: left;
       padding-left: -30px;
        overflow: hidden;
        justify-content: flex-start;
        height: auto;
    }
    .funcao-equipe
    {
        display: flex;
        max-width: 100%;
        width: 100%;
       align-items: left;
        margin-left: 0px;
        overflow: hidden;
        justify-content: flex-start;
        height: auto;
    }
    .icone-equipe
    {
        display: flex;
        max-width: 10%;
        width: 10%;
        align-items: center;
        margin-left: 0px;
        overflow: hidden;
        justify-content: left;
        height: auto;
        
        
    }
    .nossa-visao
    {
        padding-top: 20px;
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: auto;
        flex-direction: column;
       
    }
    .bloco-visao
    {
        width: 90%;
        max-width: 90%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
    }
    .visao-titulo
    {
        width: 90%;
        max-width: 90%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
        padding-left: 10px;
        font-size: 18px;
    }
    .texto-visao
    {
        width: 272px;
        height: 80px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center; 
    }
    .nossos-valores
    {
        padding-top: 20px;
        display: flex;
        width: 90%;
        max-width: 90%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: auto;
        flex-direction: column;
        margin-left: 0px;
        padding-bottom: 40px;
    }
    .valores-titulo 
    {
        width: 90%;
        max-width: 90%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
        padding-right: 20px;
        font-size: 18px;
    }
    .bloco-valores
    {
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        height: auto;
        padding-bottom: 10px;
        justify-content: left;
        align-items: flex-start;
        
    }
    .frases-valores
    {
    width: 272px;
    height: 80px;
    font-size: 14px;
    line-height: 16px;
    justify-content: center;
   
    }


      
}